/* font-family "Fira Sans" */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* uni shared style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: "Fira Sans", serif;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  background: #f5f5f5;
}

/* nav style */
nav {
  max-width: 1600px;
  margin: 0 auto;
  padding: 24px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* banner section style */
.banner-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 100px;
  border-radius: 24px;
  background-color: #c6e4d6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-top: 20px;
}

.header-title {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
}

.header-description {
  color: #0e0e0e;
  font-size: 56px;
  font-weight: 700;
  margin-top: 16px;
}
