/* font-family "Fira Sans" */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* uni shared style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: "Fira Sans", serif;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  background: #f5f5f5;
  /* background: red; */
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

main > section {
  margin-top: 80px;
}
/* nav style */
nav {
  max-width: 1600px;
  margin: 0 auto;
  padding: 24px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700px;
}

.nav-btn {
  color: #006a50;
  font-size: 18px;
  font-weight: 600px;
  padding: 15px 30px;
  border-radius: 8px;
  border: 1px solid #006a50;
  background: none;
}

/* banner section style */
.banner-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 60px;
  border-radius: 24px;
  background-color: #c6e4d6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-top: 20px;
}

.header-title {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
}

.header-description {
  color: #0e0e0e;
  font-size: 56px;
  font-weight: 700;
  margin: 16px 0 24px;
}

.header-btn {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
  background-color: #006a50;
}

/* pillars section style */
.pillars-title {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
}

.pillars-card-container {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.pillars-card {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #0e0e0e26;
  background: #fff;
}

.pillars-card-title {
  color: #0e0e0ecc;
  font-size: 20px;
  font-weight: 700;
  margin: 24px 0 12px 0;
}

.pillars-card-description {
  color: #0e0e0eb3;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
